    <!-- Footer Information -->
    <footer>
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-md-8 col-md-5">
                    <p>
                        &copy 2024 Blissful Co.
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="text-center">Follow us</h4>
                    <div class="column d-flex justify-content-center">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-youtube"></i>

                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>  