<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9b40f91bc0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/style_faq.css">
    <title>Blissful Store</title>
</head>
<body>
    <%- include('includes/nav.ejs') %>
    <section class="section-faq">
        <h1>Motores de plantillas para Node.js</h1>
        <p>Aparte de EJS, hay varios otros motores de plantillas populares disponibles para Node.js. Aquí hay algunos de ellos:</p>
        <ol>
            <li><strong>Pug (anteriormente conocido como Jade)</strong>: Pug es un motor de plantillas que simplifica la escritura de HTML al permitir el uso de una sintaxis simplificada y con sangrías. En lugar de usar etiquetas HTML, Pug utiliza espacios y sangrías para definir la estructura del documento.</li>
            <li><strong>Handlebars</strong>: Handlebars es un motor de plantillas que permite la creación de plantillas HTML reutilizables y dinámicas. Ofrece una sintaxis simple y fácil de entender que permite la incorporación de lógica y datos en las plantillas.</li>
            <li><strong>Nunjucks</strong>: Desarrollado por Mozilla, Nunjucks es un motor de plantillas inspirado en Jinja2 (usado en Python). Ofrece características como herencia de plantillas, macros, filtros y extensiones, lo que lo hace muy flexible y poderoso.</li>
            <li><strong>Mustache</strong>: Mustache es un motor de plantillas liviano y sin lógica, que se puede utilizar en varios lenguajes de programación, incluido Node.js. Ofrece una sintaxis simple y minimalista que facilita la creación de plantillas legibles y mantenibles.</li>
            <li><strong>Hogan.js</strong>: Hogan.js es un motor de plantillas que implementa la especificación de Mustache y ofrece un rendimiento mejorado a través de la compilación de plantillas en funciones JavaScript.</li>
        </ol>
        <p>Estos son solo algunos de los motores de plantillas disponibles para Node.js. Cada uno tiene sus propias características y ventajas, por lo que la elección de uno depende de las necesidades específicas de tu proyecto y de tus preferencias personales en cuanto a sintaxis y funcionalidad.</p>
    </section>
</body>