<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9b40f91bc0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/style_home.css">
    <script src="./js/index.js" defer></script>
    <title>Blissful Store Home</title>
</head>
<body>
    <%- include('includes/nav.ejs') %>
    <main>
        <!-- Home section -->
        <section class = "section-1">
            <div class ="container text-center section-padding">
                <div class ="row">
                    <div class="col-md-7 col-sm-12 align-self-center">
                        <h1>Welcome to Blissful</h1>
                        <p class = "text-justify">
                            We're passionate about helping you embrace a healthier lifestyle with our premium selection of juicers, blender-equipped juicers, and thermos products. Whether you're a health enthusiast or just starting your journey, we have everything you need to fuel your body. 
                            Become a happier, healthier you with Blissful – where wellness meets joy.
                        </p>
                        <p>
                            Ready to take your juicing and smoothie journey to new heights?<br>Our exclusive Juicer + Blender with a Recipe Book Bundle is the perfect companion <br>for anyone looking to unlock a world of delicious and nutritious possibilities.
                        </p>
                        <!-- Add product to cart button -->
                        <a href="#" class="btn btn-dark px-5 py-3 mb-5 purchase-btn" data-product="Juicer + Blender + Book">Buy now for only $869.99 USD</a>
                    </div>
                    <div class="col-md-5 col-sm-12">
                       <img src="https://namawell.com/cdn/shop/files/540x540carousel_3_540x.jpg?v=1698169119" alt="Photo Juicer + Blender + Book" class = "medium-image" />
                    </div>    
                </div>
            </div>
        </section>

        <!-- Cart Information Container  -->
        <div class="cart-container">
            <div class="cart-info" style="visibility: hidden;">
                <table class="cart-table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th></th>
                            <th>Quantity</th>
                            <th></th>
                            <th></th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Here the rows created with JavaScript dinamically will be added -->
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">Subtotal</td>
                            <td id="subtotal">0</td>
                        </tr>
                        <tr>
                            <td colspan="5">IVA</td>
                            <td id="iva">0</td>
                        </tr>
                        <tr>
                            <td colspan="5">Total</td>
                            <td id="total">0</td>
                        </tr>
                        <tr>
                            <td colspan="6" class="center">
                                <a href="/payment" class="btn btn-dark px-5 py-3" data-product="Payment">Pay Now</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>               
            </div>
        </div>      

        <!-- Product Cards -->
        <section class="section-2"> 
            <div class="container text-center">
                <h1>GET TO KNOW OUR PRODUCTS</h1>
            </div>
            <div class="purchase text-center">
                <div class="price row">
                    <div class="col-md-4 col-12 text-center">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Juicer</h5>
                                <img src="https://namawell.com/cdn/shop/products/j2_95703b88-27b6-4a70-abb7-dfad53e899ab_540x.png?v=1656091935" alt="Photo Juicer" class="small-image" title="Extract the freshest, most nutrient-rich juices from your favorite fruits and vegetables. "/>
                                <div class="pricing">
                                    <h2>$650.99 USD</h2>
                                </div>
                                <!-- Add product to cart button -->
                                <a href="#" class="btn btn-dark px-4 py-2 mb-5 purchase-btn" data-product="Juicer">Purchase Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 text-center">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Juicer + Blender</h5>
                                <img src="https://namawell.com/cdn/shop/files/540x540carousel_1_540x.jpg?v=1698169119" alt="Photo Juicer + Blender" class="small-image" title="Take your juicing experience to the next level with our juicers featuring built-in blenders." />
                                <div class="pricing">
                                    <h2>$859.99 USD</h2>
                                </div>
                                <!-- Add product to cart button -->
                                <a href="#" class="btn btn-dark px-4 py-2 mb-5 purchase-btn" data-product="Juicer + Blender">Purchase Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 text-center">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Thermo</h5>
                                <img src="https://www.fishwest.com/Images/Product%20Images/HYF00020_White.01.jpg?resizeid=37&resizeh=600&resizew=600" alt="Photo Thermo" class="small-image" title="Keep your beverages at the perfect temperature. "/>
                                <div class="pricing">
                                    <h2>$20.99 USD</h2>
                                </div>
                                <!-- Add product to cart button -->
                                <a href="#" class="btn btn-dark px-4 py-2 mb-5 purchase-btn" data-product="Thermo">Purchase Now</a>
                            </div>
                        </div>
                    </div>
                </div>
        </section>        
    </main>

    <%- include('includes/foot.ejs') %>