<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style_formresponse.css">
    <title>Blissful Store Form Error</title>
</head>
<body>
    <section class="section-1">
        <div class="container text-center section-padding">
            <div class="row">
                <div class="col-md-7 col-sm-12 align-self-center">
                    <h1>There was a problem sending your form.</h1>
                    <p class = "text-justify">
                        Thank you for reaching out to us! Unfortunately, there was an issue processing your message. Please try again later or contact us through email at blissful@gmail.com. We apologize for any inconvenience caused.
                        In the meantime, feel free to continue browsing our products.
                    </p>
                    <a href="/" class="btn btn-dark px-5 py-3 mb-5" data-product="Continue Shopping">Continue Shopping</a>
                </div>
                <div class="col-md-5 col-sm-12">
                   <img src="https://cdn.accentuate.io/7513373835441/1697837115595/400-x-400-juicer_2.jpg?v=1697837115595" alt="Photo Continue Shopping" class="medium-image" />
                </div>    
            </div>
        </div>
    </section>

    <div class="container text-center section-padding">
        <h3>Submission History</h3>
        <% contactData.forEach((submission, index) => { %>
            <div>
                <p>Name: <%= submission.name %></p>
                <p>Email: <%= submission.email %></p>
                <p>Message: <%= submission.message %></p>
                <p> ---------------------------------</p>
            </div>
        <% }); %>
    </div>

</body>
</html>