@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.section-1{
    padding-top: 30px; 
    padding-bottom: 30px; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.section-1 h1, p{
    padding-bottom: 30px;
}

.text-justify{
    text-align: justify;
}

.medium-image {
    width: 400px;
    padding-top: 20px; 
}