<link rel="stylesheet" href="./css/login.css">
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="login-form">
                    <h2 class="title">BIENVENIDO A GEMMA RETAILER </h2>
                    <form action="/" method="POST">
                        <label class="label" for="username">Nombre de usuario</label>
                        <input class="input text" id="username" name="username">
                        <label class="label" for="password">Contraseña</label>
                        <input class="input text" type="password" id="password" name="password">
                        <br><br>
                        <input class="button is-success" type="submit" value="Entrar">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>